/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px rgb(22, 20, 20);
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  content: ' \25CF';
  font-size: 40px;
  text-align: center;
  font-weight: thick;
  color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* DONE TODO: make pieces red/blue,  depending on player 1/2 piece */

/* Blink animation came from user "Mr. Alien" at stackoverflow:
https://stackoverflow.com/questions/16344354/how-to-make-blinking-flashing-text-with-css-3*/
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
